@* @model IEnumerable<SelectListItem> *@
@using Utility.Common
@model HomeVM

<div class="product__left-item sub-bg">
 <h4 class="mb-30 left-title">
    <span class="text-primary">Category</span>
</h4>
<ul class="list-group mb-3">
    <li class="list-group-item d-flex justify-content-between lh-sm">
        <button class="category" data-id ="0" >
            <h6 class="my-0">All</h6>
        </button>
    </li>
    @foreach (var item in Model.Categories)
    {
        <li class="list-group-item d-flex justify-content-between lh-sm">
        <button class="category" data-id = @item.Id >
            <h6 class="my-0">@item.Name</h6>
        </button>
        <span class="text-body-secondary">@item.Id</span>
        </li>
    }
    
</ul>
<h4 class="mb-30 left-title">
    <span class="text-primary">Brand</span>
</h4>
<ul class="list-group list-group-flush text-start">
    @foreach (var item in Model.Brands)
    {
    <li class="list-group-item align-items-start "> 
        <a class="searchByBrand" id="Newest" brand-id="@item.Id">@item.Name</a> 
    </li>
    }
</ul>
</div>


<script>

    $(".category").click(function(){        
        $.ajax({
            url:'/Customer/Shop/GetNewList',
            data:{
                categoryId : $(this).attr("data-id")
            }
        })
        .done(function(response){
        $("#tableContainer").html(response);
        })
        .fail(function(XMLHttpRequest, textSearch, errorThrown) {
            alert("fail")
        });

    });

    $(".searchByBrand").click(function(){     
        $.ajax({
            url:'/Customer/Shop/GetNewList',
            data:{
                brandId : $(this).attr("brand-id")
            }
        })
        .done(function(response){
        $("#tableContainer").html(response);
        })
        .fail(function(XMLHttpRequest, textSearch, errorThrown) {
            alert("fail")
        });

    });
</script>