@model IEnumerable<Product>

<div class="row pb-5">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <img src="@item.ImageUrl" class=" card-img-top rounded" alt="">
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-upercase text-center">@item.Title</p>
                                <p class="card-title text-warning text-center">@item.Author</p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark opacity-75 text-center mb-0">
                                    List Price: 
                                    <span class="text-decoration-line-through">
                                        @item.ListPrice.ToString("c")
                                    </span> 
                                </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark opacity-75 text-center">
                                    As low as: 
                                    <span>
                                        @item.Price100.ToString("c")
                                    </span> 
                                </p>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Details" asp-route-productId="@item.Id" class="btn btn-primary bg-gradient border-0 from-control">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
