@model ShoppingCartVM
<main>
<section class="cart-page pt-130 pb-130">
	<form method="post">
<div class="container pt-100">
	<div class="row g-4">
			<div class="col-lg-8">
				<div class="checkout__item-left sub-bg">
					<a asp-action="index" class="btn btn-outline-danger btn-sm mb-20">Back to Cart</a>
		
					<h3 class="mb-40">Billing Details</h3>
					<div class="radio-btn">
						<span></span>
						<a class="ml-10 fw-bold" href="register.html">Create An Account?</a>
					</div>
					<div class="radio-btn mt-2 mb-30">
						<span class="opacity-75"></span>
						<p>Ship To A Different Address?</p>
					</div>
					<!-- Nanme Start -->
					<label class="mb-10" for="name">Your Name *</label>
					<input class="mb-20" asp-for="OrderHeader.Name" />
					<span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
					<!-- Nanme End -->

					<label class="mb-10" for="phone">Phone *</label>
					<input class="mb-20" asp-for="OrderHeader.PhoneNumber"  />
					<span asp-validation-for="OrderHeader.PhoneNumber"></span>
					
					
					@* <label class="mb-10" for="email">Email Address *</label>
					<input class="mb-20" id="email" type="email"> *@
					@* <label class="mb-10" for="companyName">Company Name (Optional)</label>
					<input class="mb-20" id="companyName" type="text"> *@
					<label class="mb-10" for="streetAddress">Street Address *</label>
					<input asp-for="OrderHeader.StreetAddress" placeholder="1837 E Homer M Adams Pkwy" class="mb-20" />
					<span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>

					<label class="mb-10" for="townName">Town / City *</label>
					<input asp-for="OrderHeader.City" class="mb-20" />
					<span asp-validation-for="OrderHeader.City" class="text-danger"></span>
					
					<h5 class="mb-10">State *</h5>
					<input asp-for="OrderHeader.State" class="mb-20" />
					<span asp-validation-for="OrderHeader.State" class="text-danger"></span>

					<label class="mb-10" for="zipCode">ZIP Code *</label>
					<input asp-for="OrderHeader.PostalCode"  class="mb-20"  />
					<span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
					
					@* <label class="mb-10" for="phone">Order Notes (Optional)</label>
					<textarea placeholder="Note About Your Order . . ." name="notes" id="notes"></textarea> *@
					<p style="color:maroon; font-size:14px;">Estimate Arrival Date:
					@DateTime.Now.AddDays(7).ToShortDateString() - @DateTime.Now.AddDays(14).ToShortDateString()
				</p>
				</div>
				
			</div>
		
		<div class="col-lg-4">
			<div class="checkout__item-right sub-bg">
				<h3 class="mb-40">Your Order</h3>
				<ul>
					<li class="bor-bottom pb-4 mb-10">
						<h4>Products</h4>
						<h4>Subtotal</h4>
					</li>
					@foreach (var item in Model.ShoppingCartList)
					{
						<li class="bor-bottom pb-4 mb-10">
							<div>
								<h6 class="my-0">@item.Product.Title</h6>
								<small class="text-muted">Quantity: @item.Count</small>
							</div>
							<span>@((item.Price * item.Count).ToString("c"))</span>
							
						</li>
					}
					<li class="bor-bottom pb-4">
						<h4>Subtotal (USD)</h4>
						<h4>@Model.OrderHeader.OrderTotal.ToString("c")</h4>
					</li>
				</ul>
				<div class="py-4 bor-bottom">
					<h5 class="mb-10">Shipping Address</h5>
					<span>2801 Lafayette Blvd, Norfolk, Vermont <br>
						23509, united state</span>
				</div>
				<div class="radio-btn mt-30">
					<span class="opacity-75"></span>
					<p>Direct Bank Transfer</p>
				</div>
				<div class="radio-btn mt-2">
					<span></span>
					<a class="ml-10 fw-bold" href="#0">Check Payments</a>
				</div>
				<div class="radio-btn mt-2 pb-30 bor-bottom">
					<span class="opacity-75"></span>
					<p>Cash On Delivery</p>
				</div>
				<p class="pt-30 bor-top">Your personal data will be used to process
					your order, support your experience
					throughout this website.</p>
				<button type="submit" class="btn-one mt-35"><span>Place Order</span></a>

			</div>
		</div>
	</div>
</div>
</form>
</section>
</main>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}